@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  display: flex;

  .channelsList {
    height: 100%;
    width: 220px;
    background-color: #3f103f;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: rgb(233, 227, 227);
    padding-left: 15px;
    cursor: pointer;
  }

  .rightSide {
    height: 100%;
    flex: 1;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
  }

  .header {
    height: 60px;
    padding: 10px;
    background-color: #7407a3;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
    color: rgb(233, 227, 227);
  }
}
