$medium-res: 1050px;

body {
  background: linear-gradient(#e66465, #9198e5);
  height: 90%;
  width: 90%;
  margin: 0;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.main {
  height: 480px;
  width: 968px;
  background-color: white;
  margin: 150px 240px;
  display: flex;
  flex: 0;
  align-content: center;
  justify-content: center;
  border-radius: 15px;

  .leftSide {
    margin: 20px, 20px;
    flex: 1;

    .image {
      background-image: url("./image.png");
      margin: 20px auto 0 50px;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
    }
  }
  .rightSide {
    margin: 20px, 20px;
    flex: 1;

    .login-title {
      font-size: 24px;
      text-transform: capitalize;
      font-weight: bold;
      color: #333;
      line-height: 1.2;
      text-align: center;
      width: 100%;
      display: block;
    }

    .input-wrapper {
      margin-top: 50px;

      .login-email,
      .login-password {
        font-size: 15px;
        font-weight: bold;
        line-height: 1.5;
        color: #666;
        background-color: #e6e6e6;
        display: block;
        padding: 10px;
        margin: 20px auto;
        padding: 10px 20px;
        border-radius: 30px;
        border: none;
      }
    }
    .login-button {
      font-size: 15px;
      font-weight: bold;
      line-height: 1.5;
      color: #fff;
      text-transform: uppercase;
      height: 50px;
      background-color: #57b846;
      border-radius: 25px;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
      outline: none;
      border: none;
      cursor: pointer;
      margin: 10px auto;
      transition: 0.4s;
    }
    .login-button:hover {
      background-color: #666;
    }
  }
}

@media all and (max-width: $medium-res) {
  .main {
    height: 320px;
    width: 90%;
    display: flex;
    flex: 0;
    margin: 50px;

    .leftSide {
      display: none;
    }
  }
}
