@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
$medium-res: 900px;

body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", sans-serif;
}

.container {
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .main {
        height: 400px;
        width: 968px;
        background-color: white;
        margin: 50px 50px;
        display: flex;
        align-content: center;
        justify-content: center;
        border-radius: 15px;

        .leftSide {
            margin: 20px, 20px;
            flex: 1;

            .image {
                background-image: url("./image.png");
                margin: 20px auto 0 50px;
                width: 80%;
                height: 80%;
                background-repeat: no-repeat;
            }
        }
        .rightSide {
            margin: 20px, 20px;
            flex: 1;

            .login-title {
                font-size: 24px;
                text-transform: capitalize;
                font-weight: bold;
                color: #333;
                line-height: 1.2;
                text-align: center;
                width: 100%;
                display: block;
            }

            .input-wrapper {
                margin-top: 50px;

                .login-email,
                .login-password {
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 1.5;
                    color: #666;
                    background-color: #e6e6e6;
                    display: block;
                    padding: 10px;
                    margin: 20px auto;
                    padding: 10px 20px;
                    border-radius: 30px;
                    border: none;
                }
                .login-email,
                .login-password:focus {
                    outline: none;
                }
            }
            .login-button {
                font-size: 15px;
                font-weight: bold;
                line-height: 1.5;
                color: #fff;
                text-transform: uppercase;
                height: 50px;
                background-color: #57b846;
                border-radius: 25px;
                width: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 25px;
                outline: none;
                border: none;
                cursor: pointer;
                margin: 10px auto;
                transition: 0.4s;
            }
            .login-button:hover {
                background-color: #666;
            }
            .remember-wrapper {
                text-align: center;

                .forgot {
                    color: rgb(145, 141, 141);
                    text-transform: capitalize;
                    font-size: 13px;
                    line-height: 1.5;
                }
                .userpass {
                    color: #666;
                    text-transform: capitalize;
                    font-size: 13px;
                    line-height: 1.5;
                    transition: 0.2s;
                    cursor: pointer;
                }
                .userpass:hover {
                    color: #6aec54;
                }
            }
        }
    }
}

@media all and (max-width: $medium-res) {
    .container {
        .main {
            height: 320px;
            width: 400px;
            margin: 50px;

            .leftSide {
                display: none;
            }
        }
    }
}
